* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* danger:'#dc2626',
danger2:'#ef4444 */
:root {
    /** Colors */
    --blue: #2563EB;
    --violet: #7C3AED;
    --pink: #DB2777;
    --blue-60: rgba(37, 99, 235, 0.6);
    --violet-60: rgba(124, 58, 237, 0.6);
    --pink-60: rgba(219, 39, 119, 0.6);
    --blue-30: rgba(37, 99, 235, 0.3);
    --violet-30: rgba(124, 58, 237, 0.3);
    --pink-30: rgba(219, 39, 119, 0.3);
    --white: #FFFFFF;
    --black: #000000;
    --success: #10b981;
    --danger: #dc2626;
    --danger-2: #ef4444;

    /** Font Sizes */
    --font-size-base: clamp(1rem, 1.5vw, 1.125rem);
    --font-size-2xl: clamp(1.5rem, 2.5vw, 2rem);
    --font-size-3xl: clamp(1.875rem, 3.5vw, 2.5rem);
    --font-size-4xl: clamp(2.25rem, 4.5vw, 3rem);

    /** Max Width */
    --max-width: 1440px;

    /** Border Radius */
    --radius-md: 6px;
    --radius-lg: 8px;
    --radius-xl: 12px;
    --radius-1xl: 16px;
    --radius-2xl: 24px;
    --radius-full: 9999px;

    /** Border Width */
    --border-width: 1px;
    --border-width-2: 2px;
    --border-width-3: 3px;
}